.unbounded-img {
  width: 100%;
}

.more__btn,
.more__btn:hover {
  background: rgba(241, 161, 161, 0.27);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  padding: 5px 15px;
  border: 1px solid #f1a1a1 !important;
}

.long-section {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.75); */
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.long-section::after {
  content: "";
  background: url("../../assets/img/banners/long-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  object-fit: cover;
  filter: brightness(0.4) blur(1px);
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -10;
  top: 0;
  left: 0;
}
